<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<div id="like-dislike">
  <button id="like-button">Like</button>
  <span id="like-count">{{ count.likes }}</span>
  <button id="dislike-button">Dislike</button>
  <span id="dislike-count">{{ count.dislikes }}</span>
</div>

<script>
  $(document).ready(function () {
    $("#like-button").click(function () {
      $.ajax({
        type: "POST",
        url: "/update_count/",
        data: { like: true },
        success: function (response) {
          $("#like-count").html(response.likes);
        },
      });
    });

    $("#dislike-button").click(function () {
      $.ajax({
        type: "POST",
        url: "/update_count/",
        data: { like: false },
        success: function (response) {
          $("#dislike-count").html(response.dislikes);
        },
      });
    });
  });
</script>
